<html>
  <head>
    {% if title %}
    <title>{{title}} - Machine Learning</title>
    {% else %}
    <title>Machine Learning</title>
    {% endif %}
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" href="/static/d3-cloud/lib/d3/d3.js"></script>
    <script type="text/javascript" href="/static/d3-cloud/d3.layout.cloud.js"></script>
    <meta charset="UTF-8">
  </head>
  <body>
    <div>
      <a href="/index">Home</a> | 
      <a href="/trackSearch">Find a Song</a> | 
      <a href="/chooseClustering">Cluterize!</a> |
    </div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>