<html>
  <head>
    {% if title %}
    <title>{{title}} - Machine Learning</title>
    {% else %}
    <title>Machine Learning</title>
    {% endif %}
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
  </head>
  <body>
    <div>
      <a href="/index">Home</a> | 
      <a href="/trackSearch">Find a Song</a> | 
      <a href="/chooseClustering">Cluterize!</a> |
    </div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>