{% extends "base.html" %}
{% block content %}
	<div>
		<h1>Clustering result</h1>
		<p><strong>Data path:</strong> {{datapath}}</p>
		<p><strong>Method requested:</strong> {{method}}</p>
	</div>
	<div>
		<h2>Results Overview</h2>
		<h3>Centers comparison</h3>
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>
						#
					</th>
					{% for feature in  clusterList[0][0][3]%}
						<th>
							{{feature}}
						</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for i in clusterNumber %}
					<tr>
						<td>
							Cluster {{i}}
						</td>
						{% for coordinate in barycentersList[i]%}
						<td>
							{{coordinate}}
						</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<h3>Mbtags comparison</h3>
		<table class="table table-hover table-condensed">
			<tbody>
				{% for i in clusterNumber %}
					<tr>
						<td>
							Cluster {{i}}
						</td>
						{% for value in mbtags_sorted[i][:8] %}
						<td>
							{{value}}
						</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div>
		<h2>Details of each cluster</h3>
		{% for i in clusterNumber %}
			<h3>Cluster {{i}}</h3>
			<p><strong>Center Coordinates:</strong></p> 
			<table class="table table-hover table-condensed">
				<thead>
					<tr>
						{% for feature in  clusterList[0][0][3]%}
							<th>
								{{feature}}
							</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					<tr>
						{% for coordinate in barycentersList[i]%}
						<td>
							{{coordinate}}
						</td>
						{% endfor %}
					</tr>
				</tbody>
			</table>
			<br>
			<table class="table table-hover table-condensed">
				<thead>
					<tr>
						<th>Song ID</th>
						<th>Title</th>
						<th>Artist name</th>
					</tr>
				</thead>
				<tbody>
					{% for songinfo in clusterList[i] %}
						<tr>
							<td>{{songinfo[0]}}</td>
							<td>{{songinfo[1]}}</td>
							<td>{{songinfo[2]}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<p>Artists: {{infosList[0][i]}}</p>
			<p>Titles: {{infosList[1][i]}}</p>
			<p>Artists mbtags: {{mbtags_sorted[i]}}</p>
			<p>Release: {{infosList[3][i]}}</p>
		{%  endfor %}
	</div>
	<script>
	  var fill = d3.scale.category20();

	  d3.layout.cloud().size([300, 300])
	      .words([
	        "Hello", "world", "normally", "you", "want", "more", "words",
	        "than", "this"].map(function(d) {
	        return {text: d, size: 10 + Math.random() * 90};
	      }))
	      .rotate(function() { return ~~(Math.random() * 2) * 90; })
	      .font("Impact")
	      .fontSize(function(d) { return d.size; })
	      .on("end", draw)
	      .start();

	  function draw(words) {
	    d3.select("body").append("svg")
	        .attr("width", 300)
	        .attr("height", 300)
	      .append("g")
	        .attr("transform", "translate(150,150)")
	      .selectAll("text")
	        .data(words)
	      .enter().append("text")
	        .style("font-size", function(d) { return d.size + "px"; })
	        .style("font-family", "Impact")
	        .style("fill", function(d, i) { return fill(i); })
	        .attr("text-anchor", "middle")
	        .attr("transform", function(d) {
	          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
	        })
	        .text(function(d) { return d.text; });
	  }
	</script>
{% endblock %}