{% extends "base.html" %}
{% block content %}
	<h1>Requested Vector</h1>
	<span>You have requested the following values:</span>
	<div>
		<span><strong>Filename:</strong> {{filename}}</span></br>
		<span><strong>Elements:</strong> {{elementsRequested}}</span></br>
	</div>
	<p class="text-error"><strong>The samples below may not reflect the actual computation made but old request, this is a known issue</strong></p>
	<p class="text-info"><strong>Sample of the raw output</strong></p>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Song ID</th>
				{% for element in elementsRequested %}
				<th>{{element}}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for sample in rawSamples %}
				<tr>
					<td>{{sample[0]}}</td>
					{% for sampleElement in sample[1] %}
						<td>{{sampleElement}}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<p class="text-info"><strong>Sample of the normalized output</strong></p>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Song ID</th>
				{% for element in elementsRequested %}
				<th>{{element}}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for sample in normSamples %}
				<tr>
					<td>{{sample[0]}}</td>
					{% for sampleElement in sample[1] %}
						<td>{{sampleElement}}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}