{% extends "base.html" %}
{% block content %}
	<h1>Vector creation</h1>
	<div>
		<form action="confirmQuery" method="get">
			<fieldset>
				<label><strong>Enter the filename base of the output</strong></label>
				<input type="search" name="filename" placeholder="Filename">
				<br><br>
				<label><strong>Choose the elements in your vector</strong></label>
				{% for row in rows %}
					<label class="checkbox">
					<input type="checkbox" name=fields value={{row['function']}}>{{row['description']}}</br>
					</label>
				{% endfor %}
				<br>
				<div>
					<label><strong>How should we handle the numpy arrays?</strong></label>
					<p class="text-warning"><strong>Not implemented yet</strong></p>
					<label class="radio">
						<input type="radio" name=method value='mean' CHECKED>
						Mean
					</label>
					<label class="radio">
						<input type="radio" name=method value='homogenize'>
						Homogenize the size
					</label>
					<label class="radio">
						<input type="radio" name=method value='truncate'>
						Truncate the largest
					</label>
					<label class="radio">
						<input type="radio" name=method value='extend'>
						Extend the smallest
					</label>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</fieldset>
		</form>
	</div>
{% endblock %}