{% extends "base.html" %}
{% block content %}
	<h1>Find a song</h1>
	<div>
		<form action="trackSearch" method="get">
			<fieldset>
				<label><strong>Enter the song you are looking for</strong></label>
				<input type="text" name="song" placeholder="Song">
				<label><strong>Enter the artist you are looking for</strong></label>
				<input type="text" name="artist" placeholder="Artist">
				<br>
				<button type="submit" class="btn">Submit</button>
			</fieldset>
			<br>
		</form>
		{% if searchOk %}
			<h3><strong>Search Result</strong></h3>
			<p>Song ID: {{result.id}}</p>
			<p>Title: {{result.title}}</p>
			<p>Artist name: {{result.artist_name}}</p>
			<p>Artist ID: {{result.artist_id}}</p>
			<p>Location: {{result.artist_location}}</p>
			<p>Song Audio summary: {{result.audio_summary}}</p>
			<form action="similarSong" method="get">
				<fieldset>
					<label><strong>Song ID</strong></label>
					<div class="input-append">
						<input type="search" name="songid" value={{result.id}}>
						<button type="submit" class="btn btn-primary">Find similar song!</button>
					</div>
				</fieldset>
			</form>
		{% endif %}
	</div>
{% endblock %}