{% extends "base.html" %}
{% block content %}
	<div>
		<h3>Please pick a file to get the similar songs</h3>
		<p class="text-info">No the results are not hardcoded :)</p>
		<form action="similarSong" method="get">
			<fieldset>
				{% for filename in filenames %}
					<label class="radio">
						<input type="radio" name='filename' value={{filename}}>
						{{filename}}
					</label>
				{% endfor %}
				<input type="search" name="clusters" placeholder="Name of the dump">
				<p class="text-info">File must be in the cluster folder and must be a cPickle dump, do not forget the extension!</p>
				<br>
				<label><strong>Select Base Clusters</strong></label>
				<button type="submit" class="btn btn-primary">Submit</button>
			</fieldset>
			<br>
		</form>
		<p class="text-info">Below options are not functional (yet)</p>
		{% if searchOk %}
			<h3>Gotcha!</h3>
			<form action="similarSong" method="get">
				<fieldset>
					<label><strong>Title</strong></label>
					<input type="search" class="uneditable-input" name="song" value={{result.title}}>
					<label><strong>Artist</strong></label>
					<input type="search" class="uneditable-input" name="artist" value={{result.artist_name}}>
					<label><strong>Data URL</strong></label>
					<input type="search" class="uneditable-input" name="url" value={{result.audio_summary['analysis_url']}}>
					<label><strong>Select Base Clusters</strong></label>
					<input type="search" name="clusters" placeholder="Name of the dump">
					<p class="text-info">File must be in the cluster folder and must be a cPickle dump, do not forget the extension!</p>
					<br>
					<button type="submit" class="btn btn-primary">Find similar songs!</button>
				</fieldset>
				<br>
			</form>
			<h3><strong>Search Result</strong></h3>
			<p>Song ID: {{result.id}}</p>
			<p>Title: {{result.title}}</p>
			<p>Artist name: {{result.artist_name}}</p>
			<p>Artist ID: {{result.artist_id}}</p>
			<p>Location: {{result.artist_location}}</p>
			<p>Song Audio summary: {{result.audio_summary}}</p>
		<h3>Looking for something else?</h3>
		{% else %}
		<h3>Find a song!</h3>
		{% endif %}
		<form action="trackSearch" method="get">
			<fieldset>
				<label><strong>Enter the song you are looking for</strong></label>
				<input type="search" name="song" placeholder="Song">
				<label><strong>Enter the artist you are looking for</strong></label>
				<input type="search" name="artist" placeholder="Artist">
				<br>
				<button type="submit" class="btn btn-primary">Submit</button>
			</fieldset>
			<br>
		</form>

	</div>
{% endblock %}